<!DOCTYPE html>
<html lang="en" 
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:py="http://genshi.edgewall.org/" 
    xmlns:xi="http://www.w3.org/2001/XInclude"
    py:strip=""
  >
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/css/jquery-ui/ui-lightness/jquery-ui-1.9.0.custom.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/jquery.fileupload-ui.css" type="text/css" />
    <style>/*inline style*/</style>
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/jquery-ui.js"></script>
    <script type="text/javascript" src="/js/jquery.iframe-transport.js"></script>
    <script type="text/javascript" src="/js/jquery.fileupload.js"></script>
    <script type="text/javascript" src="/js/jquery.fileupload-ui.js"></script>
    <script type="text/javascript">/*inline javascript*/</script>
  </head>
  <body>
    <h2>Index</h2>
    <div id="content"><em>This is supposed to be replaced by a py:match element</em></div> 
  </body>
</html>  
